<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>

    <div class="overlay-container">
        <h1 class="site-title">Leonardo Bertolani</h1>
        <div class="card-container">
            <nav class="main-nav">
                <a href="/projects" class="nav-item">Things I do</a>
                <a href="/blog" class="nav-item">Posts</a>
                <a href="/about" class="nav-item">About Me</a>
                <a href="/curriculum" class="nav-item">Curriculum</a>
                <a href="/gallery" class="nav-item">Discoveries</a>
            </nav>
        </div>
    </div>

</body>
</html>